.list-account {
    overflow: auto !important;
    height: 50vh;
    padding: 12px;
}
.fullname {
    box-sizing: border-box;
}

.btncolor {
  background-color: #7E98DF;
  border-radius: 10px;
}

.textcolor {
  color: #7E98DF;
}
  